<ion-split-pane contentId="main-content">

<ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-avatar slot="start">
          <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFVxzNJioX2YQ/profile-displayphoto-shrink_800_800/0/1606450849780?e=1645056000&v=beta&t=3cCJgHSyNbie8-mZz0TrimHjVnnsglN_Wq9a7-Lg4k4" />
        </ion-avatar>
        
        <ion-list-header>Ken Luzuriaga</ion-list-header>
        <ion-note style="margin-left: 6%;">kenluzuriaga0@hotmail.com</ion-note>
        
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <div style="height: 10%;"></div>
      <ion-list id="labels-list">
        <ion-list-header>Referencias</ion-list-header>       
        <ion-item *ngFor="let referencia of referencias" lines="none">
          <ion-label>
            <h2>{{ referencia.nombre }}</h2>
            <h3>{{ referencia.correo }}</h3>
            <p>{{ referencia.celular }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>