<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>Informacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title id="container" size="large">Información</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-card>
      <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFVxzNJioX2YQ/profile-displayphoto-shrink_800_800/0/1606450849780?e=1645056000&v=beta&t=3cCJgHSyNbie8-mZz0TrimHjVnnsglN_Wq9a7-Lg4k4" />
      <ion-card-header>
        <ion-card-subtitle>Guayaquil</ion-card-subtitle>
        <ion-card-title>Ken Nelson Luzuriaga Mejía</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Ecuador-Guayaquil, Estudiante de la Universidad de Guayaquil cursando el 6to semestre de la carrera Ingenieria de Sistemas
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
